:root {
    --white-color: #fff;
    --changer-color: #BCBCBC;
    --primary-color: #1f1d2b;
}

* {
    box-sizing: inherit;
}

html {
    /* font-size: 62.5%; */
    line-height: 1.6rem;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    background-color: #1f1d2b;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__row-column {
    padding-right: 24px;
    width: 320px;
    /* display: flex;
    flex-wrap: wrap; */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
