
.web__figma {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* HEARDER */
.toolbar {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.toolbar__list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--changer-color);
}

.toolbar__item-first {
    font-weight: 700;
    font-size: 32px;
    line-height: 26px;
    letter-spacing: 1.5px;
    /* color: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
    background-image: linear-gradient(103.91deg, rgb(155, 81, 224) 21.01%, rgba(48, 129, 237, 0.8) 100%); */
}

.toolbar__list-small {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.toolbar__item-small-link {
    text-decoration: none;
    color: var(--white-color);
}

.toolbar__item-small-link span {
    position: absolute;
    border: 1px solid red;
    width: 10px;
}

.toolbar__item-small {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    margin: 0 15px;
}

.toolbar__item-last{
    background-color: var(--primary-color);
    padding: 0px;
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    width: 126px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar__item-last-connect {
    color: var(--changer-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1.5px;
    padding: 16px;
    margin: 0;
}

/* CONTENT */

.content1 {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
}

.conten1__list {
    width: 50%;
    gap: 24px;
}

.conten1__list h1 {
    margin: 0;
    font-weight: 700;
    font-size: 76px;
    line-height: 82px;
}

.conten1__list h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    color: #E2E2E2;
}

.conten1-item--discover {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 16px;
}

.conten1__list-info {
    padding: 24px;
    background-color: #222537;
}

